<!DOCTYPE html>
<html lang="fr">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Football Info - Accueil</title>
    <!-- Lien vers le fichier CSS externe -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="shortcut icon" href="img\logo_SL1.jpg" type="image/x-icon" >
    <link
      href="https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- En-tête -->
    {% include 'header.html' %}

    <!-- Section Héros -->
    <div class="hero">
      <h1>Bienvenue sur Ville Lumière Info</h1>
    </div>

    <!-- Section Actualités -->
<section class="news">
  <h2>Dernières Actualités</h2>
  <div class="articles">
    <!-- Première Actualité -->
    <div class="article">
      <img src="{% static 'img/article1.png' %}" alt="Article 1"/>
      <h3>Victoire 3-1 du PSG !</h3>
      <p>Le PSG a dominé Lyon 3-1 grâce à une prestation brillante de Désiré Doué, qui a justifié les choix audacieux de Luis Enrique 
        en livrant un match spectaculaire. Doué a été décisif, obtenant un penalty et participant activement aux offensives parisiennes, 
        tandis que Dembélé a marqué un but après son retour sur le terrain. Du côté lyonnais, malgré un bijou signé Cherki et Mikautadze, 
        les choix tactiques de Pierre Sage ont affaibli l’équipe en seconde période. Malheureusement, 
        le match a également été marqué par des chants insultants dans les tribunes, ternissant cette soirée de Ligue 1.</p>
      <a href="https://www.eurosport.fr/football/ligue-1/2024-2025/ligue-la-bonne-copie-de-doue-sage-mauvais-eleve-les-tops-et-flops-de-psg-lyon_sto20063355/story.shtml">Lire l'article</a>
    </div>
    <!-- Deuxième Actualité -->
    <div class="article">
      <img src="{% static 'img/article2.png' %}" alt="Article 2"/>
      <h3>L'affaire Pogba qui retourne le monde du football.</h3>
      <p>Le procès de " L'affaire Pogba ", marqué par des accusations d'extorsion, de séquestration et d'association de malfaiteurs, 
        s'est terminé devant le tribunal correctionnel de Paris. Cette affaire, impliquant notamment le frère de Paul Pogba, Mathias, 
        a révélé des faits choquants : demandes de rançon de 13 millions d'euros, menaces armées et dépenses exorbitantes, 
        comme une facture de 57 000 € chez Adidas. Si le jugement est attendu le 19 décembre, les audiences ont éclairé sur les profils 
        des six prévenus et les détails d'un procès qui a capté l'attention médiatique.</p>
      <a href="https://www.lequipe.fr/Football/Actualites/Tout-savoir-sur-le-proces-de-l-affaire-pogba-en-4-minutes/1524808">Lire l'article</a>
    </div>
    <!-- Troisième Actualité -->
    <div class="article">
      <img src="{% static 'img/article3.png' %}" alt="Article 3"/>
      <h3>Neymar revient sur son expérience au PSG.</h3>
      <p>Dans une interview avec RMC, Neymar est revenu sur son passage au PSG, qu’il considère comme la période où 
        il a joué son meilleur football et atteint le sommet de sa carrière. Malgré des souvenirs positifs, 
        comme sa première année et l'accueil chaleureux des supporters, il déplore les nombreuses blessures et tensions 
        qui ont marqué son expérience. Il garde un goût amer face aux insultes de certains fans, qui ont franchi les limites en l’attaquant 
        devant son domicile, et critique la gestion du club qui a poussé des joueurs comme lui, Messi ou Verratti, vers la sortie. 
        Aujourd'hui en Arabie Saoudite, il se dit heureux, bien que toujours confronté aux blessures.
      </p>
      <a href="https://www.eurosport.fr/football/ligue-1/2024-2025/il-y-a-eu-de-linjustice-neymar-revient-sur-son-experience-au-psg_sto20063315/story.shtml">Lire l'article</a>
    </div>
  </div>
</section>

    <!-- Pied de page -->
    <footer>
      <p>&copy; 2024 Football Info. Tous droits réservés.</p>
    </footer>
  </body>
</html>
