<!DOCTYPE html>
<html lang="fr">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Football Info - Accueil</title>
    <!-- Lien vers le fichier CSS externe -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="shortcut icon" href="\Ville_Lumiere_v2\img\logo_SL1.jpg" type="image/x-icon" >
    <link
      href="https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- En-tête -->
    <header>
      <div class="logo">Football Info</div>
      <nav>
        <a href="{% url 'home' %}">Accueil</a>
        <!-- <a href="#">Compétitions</a> -->
        <!-- <a href="#">Scores en direct</a> -->
        <a href="{% url 'teams' %}">Équipes</a>
      </nav>
    </header>

    <!-- Section Héros -->
    <div class="hero">
      <h1>Bienvenue sur Ville Lumière Info</h1>
    </div>

    <!-- Section Actualités -->
<section class="news">
  <h2>Dernières Actualités</h2>
  <div class="articles">
    <!-- Première Actualité -->
    <div class="article">
      <img src="{% static 'img/article1.png' %}" alt="Article 1"/>
      <h3>Victoire 3-1 du PSG !</h3>
      <p>Le PSG a dominé Lyon 3-1 grâce à une prestation brillante de Désiré Doué, qui a justifié les choix audacieux de Luis Enrique 
        en livrant un match spectaculaire. Doué a été décisif, obtenant un penalty et participant activement aux offensives parisiennes, 
        tandis que Dembélé a marqué un but après son retour sur le terrain. Du côté lyonnais, malgré un bijou signé Cherki et Mikautadze, 
        les choix tactiques de Pierre Sage ont affaibli l’équipe en seconde période. Malheureusement, 
        le match a également été marqué par des chants insultants dans les tribunes, ternissant cette soirée de Ligue 1.</p>
      <a href="https://www.eurosport.fr/football/ligue-1/2024-2025/ligue-la-bonne-copie-de-doue-sage-mauvais-eleve-les-tops-et-flops-de-psg-lyon_sto20063355/story.shtml">Lire l'article</a>
    </div>
    <!-- Deuxième Actualité -->
    <div class="article">
      <img src="{% static 'static\css/img/article1.png' %}" alt="Article 2"/>
      <h3>Titre de l'Article 2</h3>
      <p>Résumé court de l'article 2.</p>
      <a href="">Lire l'article</a>
    </div>
    <!-- Troisième Actualité -->
    <div class="article">
      <img src="{% static '' %}" alt="Article 3"/>
      <h3>Titre de l'Article 3</h3>
      <p>Résumé court de l'article 3.</p>
      <a href="">Lire l'article</a>
    </div>
  </div>
</section>

  <!-- Pied de page -->
  
</body>
</html>
