{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quizz</title>
    <link rel="stylesheet" href="{% static 'css/ranking.css' %}">
</head>
<body>
    {% include 'header.html' %}
        <h1>Quizz Ligue 1</h1>
        <form method="POST" action="{% url 'corriger_quizz' %}">
            {% csrf_token %}
            {% for question in questions %}
            <div class="question">
                <p>{{ question.question_text }}</p>
                <ul>
                    {% for choice in question.choices %}
                    <li>
                        <input type="radio" name="question_{{ forloop.counter }}" value="{{ forloop.counter0 }}">
                        {{ choice }}
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}
            <button type="submit">Terminer le quizz</button>
        </form>
    </body>
    </html>