{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Classement</title>
    <link rel="stylesheet" href="{% static 'css/ranking.css' %}">
</head>
<body>
    {% include 'header.html' %}
    <h1>Classement</h1>
    <table>
        <thead>
            <tr>
                <th>Position</th>
                <th>Équipe</th>
                <th>Points</th>
                <th>Différence de Buts</th>
            </tr>
        </thead>
        <tbody>
            {% for rank in rankings %}
            <tr>
                <td>{{ rank.position }}</td>
                <td>{{ rank.team.name }}</td>
                <td>{{ rank.points }}</td>
                <td>{{ rank.goal_difference }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
