body {
    font-family: 'Antonio', sans-serif;
    background-color: #FFFFFF;
    color: #000000;
    margin: 0;
    padding: 0;
  }
  
  .container {
    width: 90%;
    margin: 20px auto;
    text-align: center;
  }
  
  header {
    background-color: #5271FF;
    color: #FFFFFF;
    padding: 15px 0;
    border-radius: 8px;
    margin-bottom: 20px;
  }
  
  header h1 {
    margin: 0;
    font-size: 2.5em;
    font-weight: 700;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  table th, table td {
    padding: 10px;
    text-align: center;
    border: 1px solid #dddddd;
  }
  
  th {
    background-color: #5271FF;
    color: #FFFFFF;
    font-weight: 600;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  tr:hover {
    background-color: #d6e0ff;
  }
  
  .team-logo {
    width: 30px;
    height: 30px;
    vertical-align: middle;
    margin-right: 10px;
  }
  

  .btn:hover {
    transform: scale(1.05);
}

/* Bouton Ajouter aux favoris */
.btn-add {
    background-color: #007bff;
    color: white;
}

.btn-add:hover {
    background-color: #0056b3;
}

/* Bouton Retirer des favoris */
.btn-remove {
    background-color: #dc3545;
    color: white;
}

.btn-remove:hover {
    background-color: #c82333;
}